@import "../bower_components/normalize-css/normalize.css"
@import "../bower_components/bootstrap/dist/css/bootstrap.css"
@import "../bower_components/font-awesome/css/font-awesome.min.css"

$site-backgroundColor = RGBA(255, 255, 255, 1)
$site-navMenuColor = RGBA(108, 102, 122, 1)
$site-subHeadingColor = RGBA(133, 123, 162, 1)
$site-textDefaultColor = RGBA(120, 120, 120, 1)
$btn-defaultColor = RGBA(141, 130, 171, 1)

body
  color $site-textDefaultColor
  a
    text-decoration none

.nav-bar
  background-color $site-backgroundColor
  height 100px
.site-log
  margin-top 25px
  img
    width 150px
.nav-section
  margin-top 40px
  ul
    li
      margin 0 20px
      a
        color: $site-navMenuColor
.btn-purchase
  margin-top 40px
  a
    background-color $btn-defaultColor
    padding 5px 30px
    border-radius 15px
    color $site-backgroundColor

#overview
  .landing
    height 600px
    background url(http://placehold.it/3400x2200) center center no-repeat
    background-position center

    h1, h2, p.version-info
      position relative
      top 50px

    h1
      color $site-backgroundColor
      font-size 75px
      margin 0
    h2
      color $site-subHeadingColor
    p.version-info
      color $site-textDefaultColor
      text-transform uppercase

    a.btn-download,
    p.btn-download-info
      position relative
      top 405px

    a.btn-download
      background-color $btn-defaultColor
      padding 5px 20px
      border-radius 15px
      color $site-backgroundColor
      display inline-block
      font-size 20px
      left calc(50% - 257px/2)
    p.btn-download-info
      margin-top 10px

  .landing-sub
    h2
      margin-top 100px
      text-transform uppercase
    p
      display block
      width 70%
      margin 30px auto

$site-aboutZumaBackgroundColor = RGBA(244, 244, 244, 1)
$site-aboutZumaDefaultTextColor = RGBA(132, 142, 151, 1)
$site-aboutZumaSubHeadingColor = RGBA(50, 50, 50, 1)
$site-aboutZumaHeadingColor = RGBA(141, 130, 170, 1)
$site-aboutZumaAngleBtnColor = RGBA(162, 162, 162, 1)
$site-aboutZumaLinkColor = RGBA(140, 128, 170, 1)
$btn-githubColor = RGBA(243, 243, 243, 1)
$btn-twitterColor = RGBA(48, 166, 207, 1)
$btn-facebookColor = RGBA(60, 90, 150, 1)
#about-zuma

  .screenshot
    height 700px
    margin-top 30px
    background-color $site-aboutZumaBackgroundColor

    section:first-child
      margin-top 75px
    section
      margin 15px 0
      h3
        margin 0
        font-size 20px
        color $site-aboutZumaSubHeadingColor
      p
        color $site-aboutZumaDefaultTextColor
      img
        width 100px
        height 100%
    .editor
      padding-right 0
    h2
      color $site-aboutZumaHeadingColor
      margin-top 65px
      font-size 40px
    #screenshot-editor
      width 100%
      position relative
      top 50px
      overflow-x hidden

  .recommandation
    margin-top 80px
    height 300px
    a
      color $site-aboutZumaLinkColor
    a.btn-angle
      text-decoration none
      color $site-aboutZumaAngleBtnColor
      position relative
      top 140px
    #carousel
      img
        width 100px
        height 100px
        border-radius 50px
      padding-bottom 30px
      border-bottom 1px solid $site-aboutZumaBackgroundColor
    .text
      margin-top 50px
      line-height 200%
  .social-network
    margin 50px 0
    ul
      li
        margin 0 50px
      a
        display inline-block
        width 200px
        padding 10px 30px
        background-color black
        border-radius 5px
        color $site-backgroundColor
        font-size 20px
        span.fa
          margin-top 3px
      p
        margin-top 10px
        color $site-aboutZumaDefaultTextColor

      #btn-github
        color $site-aboutZumaSubHeadingColor
        background-color $btn-githubColor
      #btn-twitter
        background-color $btn-twitterColor
      #btn-facebook
        background-color $btn-facebookColor

#buying-option
  padding-bottom 50px
  background url(http://placehold.it/3400x2200) center center no-repeat
  background-position center
  section.clients
    margin-top 100px
    padding-bottom 50px
    h1
      color $site-backgroundColor
      font-size 30px
    img
      width 80%
      border 3px solid black
      margin 50px auto
      box-sizing border-box
    p
      color $site-backgroundColor
    .separator
      margin-top 50px
      border-top 1px solid $site-aboutZumaBackgroundColor
  section.pricing
    h1
      font-size 30px
      color $site-aboutZumaBackgroundColor
    .option
      position relative
      height 350px
      width 100%
      background-color BLACK
      opacity 0.4
      margin 30px 3px
      div
        background-color RGBA(0, 0, 0, 0.1)
        h2
          background-color BLACK
          text-align center
          padding 10px 30px
          font-size 20px
          color $site-backgroundColor
          text-transform uppercase
        p.price,
        p.period
          text-align center
          color $site-backgroundColor
          text-transform uppercase
        p.price
          font-size 50px
        p.period
          color $site-aboutZumaBackgroundColor
        span
          display block
          width 75px
          border-top 5px solid $site-subHeadingColor
          margin 30px auto
        ul
          list-style none
          text-align center
          padding 0
          color $site-backgroundColor
        a
          padding 5px 20px
          display block
          width 130px
          margin 20px auto
          text-align center
          background-color WHITE
          border-radius 20px
          position absolute
          top 280px
          left 25%
          text-transform uppercase
    .option.agency
      position relative
      top -25px
      height 400px
      width 100%
      div
        background BLACK
      p.price
        font-size 70px
      a
        top 320px
        left 25%
#support
  .newsletter
    height 100px
    background-color $site-aboutZumaBackgroundColor
    h1
      font-size 25px
      text-align center
      margin 35px 0
    form
      margin-top 35px
      input#textbox
        border-radius 30px
        width 250px
        border 1px solid #eeeeee
        height 30px
        padding-left 3%
        font-size 1.2em
        line-height 1.5em
        color #333333
        letter-spacing .01em
        font-style normal
        font-weight 300
      input#submit
        background-color $site-subHeadingColor
        color WHITE
        width 130px
        height 30px
        text-align center
        border-radius 30px
        border 1px solid #eeeeee
        margin 0 10px

  .support
    border-bottom 1px solid $site-aboutZumaBackgroundColor
  .support-info
    margin-top 35px
    padding-bottom 50px

    background-color $site-backgroundColor
    h1
      color $site-textDefaultColor
      font-size 20px
    h2
      color BLACK
      font-size 13px
    p
      color $site-aboutZumaDefaultTextColor
      font-size 11px
    a
      padding 5px 10px
      background-color $site-aboutZumaBackgroundColor
      display inline-block
      margin-top 30px
      width 150px
      text-align center
      color $site-subHeadingColor
    ol
      list-style none
      padding-left 0
#footer
  margin-top 50px
  padding-bottom 50px
  .info
    p
      color $site-textDefaultColor
      margin 20px 0
      font-size 10px
  .nav
    h3
      font-size 15px
      margin 0 0 15px 0
    ul
      padding-left 0
      li
        list-style none
        margin 5px 0
      a
        color $site-aboutZumaLinkColor
  .contact
    p.phone
      font-size 25px
      margin-bottom 0
      color BLACK
    p
      text-transform uppercase
      font-size 10px
    address
      margin-top 15px
      span.city
        font-size 20px
        color BLACK
      span
        font-size 10px
  .info-more
    h3
      color BLACK
      font-size 13px
      margin 0 0 15px 0
    p
      font-size 10px