@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 80rem;
  text-align: center;
  font-size: 1.4rem;
  overflow-x: hidden;
}

.hero {
  max-width: 100%;
  margin: 0 auto;
  background: url("../img/Hero.jpg") no-repeat;
  background-size: cover;
  color: white;
}
.hero header {
  padding-top: 3rem;
  overflow: hidden;
  *zoom: 1;
}
.hero header img {
  width: 14.5rem;
  float: left;
  margin-left: 17rem;
}
.hero header ul {
  float: right;
  margin-right: 18rem;
}
.hero header ul li {
  float: left;
  margin: 0 .1rem;
  padding: 1.5rem 2.3rem;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: default;
  -webkit-transition: border .6s;
          transition: border .6s;
}
.hero header ul li:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: border .6s;
          transition: border .6s;
}
.hero header ul .active {
  border: 1px solid white;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 24rem;
  letter-spacing: 0.1rem;
}
.hero h2 {
  font-size: 1.7rem;
  padding-top: 1.7rem;
  font-weight: 300;
  opacity: .75;
  word-spacing: 0.2rem;
}
.hero form {
  padding-top: 2.8rem;
  padding-bottom: 39rem;
}
.hero form input[type="text"] {
  margin-right: -0.2rem;
  padding: 2.3rem 3.5rem;
  border: 0;
  width: 50rem;
  border-radius: 2px 0 0 2px;
  background-color: rgba(244, 243, 241, 0.45);
  color: white;
  outline: none;
  font-size: 1.4rem;
}
.hero form input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="button"] {
  margin-left: -0.2rem;
  color: white;
  padding: 2.3rem 3.5rem;
  border: 0;
  width: 12rem;
  border-radius: 0 2px 2px 0;
  background-color: #64dea9;
  outline: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  -webkit-transition: all;
          transition: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}
.hero form input[type="button"]:hover {
  background-color: #27b577;
  -webkit-transition: all;
          transition: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}
.hero form input[type="button"]:active {
  background-color: #19764e;
  -webkit-transition: all;
          transition: all;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
}

.numbers {
  width: 80%;
  margin: 0 auto;
}
.numbers ul {
  position: relative;
  top: -9rem;
  overflow: hidden;
  *zoom: 1;
}
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #dbdad8;
  border-right: none;
  background-color: #f4f3f1;
}
.numbers ul li:first-child {
  border-radius: 2px 0 0 2px;
}
.numbers ul li:last-child {
  border-right: 1px solid #dbdad8;
  border-radius: 0 2px 2px 0;
}
.numbers ul h2 {
  padding-top: 4.5rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.numbers ul h3 {
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #6f6d70;
}

.how-it-works {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.how-it-works h2 {
  font-size: 1.4rem;
  padding-bottom: 5.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.how-it-works h2::after {
  content: " ";
  display: block;
  background-color: #dbdad8;
  width: 4.2rem;
  height: 0.3rem;
  margin: 1rem auto;
}
.how-it-works ul {
  overflow: hidden;
  *zoom: 1;
}
.how-it-works li {
  float: left;
  width: 26.66%;
  padding-bottom: 11rem;
}
.how-it-works li:nth-child(2) {
  margin: 0 10%;
}
.how-it-works li:nth-child(2)::before, .how-it-works li:nth-child(3)::before {
  display: block;
  content: " ";
  background: #dbdad8;
  height: 0.1rem;
  width: 35%;
  position: absolute;
  top: 13rem;
}
.how-it-works li:nth-child(1)::before {
  display: none;
}
.how-it-works li:nth-child(2)::before {
  left: 15%;
}
.how-it-works li:nth-child(3)::before {
  right: 15%;
}
.how-it-works .number {
  position: relative;
  z-index: 999;
  font-size: 2rem;
  border: 1px solid #dbdad8;
  color: #dbdad8;
  background-color: #f4f3f1;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  display: block;
  border-radius: 100%;
  margin: 1rem auto 5rem;
}
.how-it-works .fa {
  font-size: 5rem;
}
.how-it-works .fa-list-alt {
  color: #e8aa5f;
}
.how-it-works .fa-pencil {
  color: #ad9fd1;
}
.how-it-works .fa-users {
  color: #4c99cb;
}
.how-it-works h3 {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}
.how-it-works p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #6f6d70;
}
.how-it-works::after {
  content: " ";
  display: block;
  width: 150%;
  height: 0.1rem;
  position: relative;
  left: -20%;
  margin: 10px 0;
  background-color: #dbdad8;
}

.why-choose-us {
  width: 80%;
  margin: 0 auto;
}
.why-choose-us h2::after {
  content: " ";
  display: block;
  background-color: #dbdad8;
  width: 4.2rem;
  height: 0.3rem;
  margin: 1rem auto;
}
.why-choose-us ul {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 5rem;
}
.why-choose-us li {
  float: left;
  width: 45%;
  height: 12rem;
  overflow: hidden;
  *zoom: 1;
}
.why-choose-us li:nth-child(even) {
  margin-left: 10%;
}
.why-choose-us .fa {
  font-size: 3rem;
  display: block;
  float: left;
}
.why-choose-us .detail {
  width: 80%;
  float: right;
}
.why-choose-us h2 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 8.5rem;
  padding-bottom: 6rem;
  text-transform: uppercase;
}
.why-choose-us h3 {
  text-align: left;
  font-size: 2rem;
}
.why-choose-us p {
  text-align: left;
  color: #6f6d70;
  line-height: 2.6rem;
}
.why-choose-us .fa-check {
  color: #79BE94;
}
.why-choose-us .fa-tag {
  color: #54B8EE;
}
.why-choose-us .fa-refresh {
  color: #E5A963;
}
.why-choose-us .fa-user {
  color: #AF7AC2;
}
.why-choose-us .fa-book {
  color: #EF637A;
}
.why-choose-us .fa-thumbs-o-up {
  color: #ED7F5A;
}
.why-choose-us::after {
  content: " ";
  display: block;
  width: 150%;
  height: 0.1rem;
  position: relative;
  left: -20%;
  margin: 10px 0;
  background-color: #dbdad8;
}

.testimonials {
  width: 80%;
  margin: 0 auto;
}
.testimonials .section {
  padding-top: 10rem;
  padding-bottom: 4rem;
}
.testimonials .section a {
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  width: 19rem;
  height: 6rem;
  line-height: 6rem;
  border: 0.1rem solid #dbdad8;
}
.testimonials .section #testimonials {
  margin-right: -0.2rem;
  border-right: none;
  border-radius: 2px 0 0 2px;
  color: white;
  background-color: #6f6d70;
}
.testimonials .section #feedbacks {
  border-radius: 0 2px 2px 0;
  margin-left: -0.2rem;
  border-left: none;
  color: #6f6d70;
}
.testimonials blockquote {
  padding-bottom: 4rem;
}
.testimonials blockquote p {
  width: 80%;
  margin: 0 auto;
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: 400;
  color: #6f6d70;
}
.testimonials blockquote .text::after {
  content: " ";
  display: block;
  background-color: #dbdad8;
  width: 4.2rem;
  height: 0.1rem;
  margin: 2.5rem auto;
}
.testimonials blockquote em, .testimonials blockquote span {
  line-height: 1.9rem;
  font-size: 1.4rem;
  display: block;
}
.testimonials blockquote em {
  font-weight: 400;
}
.testimonials blockquote span {
  font-weight: 300;
}
.testimonials blockquote::before {
  font-family: serif;
  content: "\“";
  font-size: 4rem;
  display: block;
  color: #dbdad8;
}
.testimonials ul {
  display: inline-block;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 12rem;
}
.testimonials li {
  float: left;
  position: relative;
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  border: 1px solid #dbdad8;
}
.testimonials li .img {
  width: 10rem;
  height: 10rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  border-radius: 100%;
  border: 1px solid #dbdad8;
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonials li:nth-child(2) {
  margin: 0 4rem;
}
.testimonials li #user-0 {
  background: url("../../img/user-0.png");
}
.testimonials li #user-0::after {
  content: " ";
  width: 10rem;
  height: 10rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  border-radius: 100%;
}
.testimonials li #user-1 {
  background: url("../../img/user-1.png");
}
.testimonials li #user-2 {
  background: url("../../img/user-2.png");
}
.testimonials li #user-2::after {
  content: " ";
  width: 10rem;
  height: 10rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  border-radius: 100%;
}

footer .search {
  background-color: black;
  background: url("../../img/Hero.jpg") no-repeat;
}
footer form {
  padding-top: 11rem;
  padding-bottom: 11rem;
}
footer form label {
  color: white;
  font-size: 2.5rem;
  padding-right: 2.5rem;
}
footer form input[type="text"] {
  height: 6rem;
  width: 72rem;
  font-size: 1.4rem;
  padding: 2.5rem;
  box-sizing: border-box;
  outline: none;
  border-radius: 2px 0 0 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
}
footer form input[type="button"] {
  background-color: #82DDA9;
  color: white;
  font-weight: 400;
  height: 6rem;
  width: 12rem;
  font-size: 1.4rem;
  padding: 2.5rem;
  box-sizing: border-box;
  outline: none;
  border-radius: 0 2px 2px 0;
  border: none;
  position: relative;
  top: .4rem;
  left: -.4rem;
}
footer nav {
  width: 107rem;
  margin: 0 auto;
}
footer nav li {
  padding: 3.3rem 1.5rem;
  font-size: 1.4rem;
  color: #6f6d70;
}
footer .site {
  float: left;
}
footer .site li {
  float: left;
}
footer .social {
  float: right;
}
footer .social li {
  float: left;
  font-size: 2rem;
}
footer .fa-twitter {
  color: #639BDA;
}
footer .fa-facebook {
  color: #5B72BB;
}

/*# sourceMappingURL=screen.css.map */