/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  font-size: 1.5rem;
  overflow-x: hidden;
}

.hero {
  max-width: 140rem;
  margin: 0 auto;
  background: url("../img/Hero.jpg") no-repeat;
  background-size: cover;
  color: white;
}
.hero header {
  padding-top: 3rem;
  overflow: hidden;
  *zoom: 1;
}
.hero header img {
  width: 14.5rem;
  float: left;
  margin-left: 17rem;
}
.hero header ul {
  float: right;
  margin-right: 18rem;
}
.hero header ul li {
  float: left;
  margin: 0 .1rem;
  padding: 1.5rem 2.3rem;
  font-size: 1.5rem;
  border-radius: 2px;
  border: 1px solid transparent;
}
.hero header ul .active {
  border: 1px solid white;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 24rem;
}
.hero h2 {
  font-size: 1.6rem;
  padding-top: 1.7rem;
  font-weight: 300;
  opacity: .75;
}
.hero form {
  padding-top: 2.8rem;
  padding-bottom: 39rem;
}
.hero form input[type="text"] {
  margin-right: -0.2rem;
  padding: 2.3rem 3.5rem;
  border: 0;
  width: 50rem;
  border-radius: 2px 0 0 2px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  outline: none;
}
.hero form input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.hero form input[type="button"] {
  margin-left: -0.2rem;
  color: white;
  padding: 2.3rem 3.5rem;
  border: 0;
  width: 12rem;
  border-radius: 0 2px 2px 0;
  background-color: #64DEA9;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: all;
          transition: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}
.hero form input[type="button"]:hover {
  background-color: #27b577;
  -webkit-transition: all;
          transition: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

/*# sourceMappingURL=screen.css.map */