body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.clear-fix {
  clear: both;
}
.hero {
  max-width: 1400px;
  min-width: 1400px;
  margin: 0 auto;
  background: url(../img/Hero.jpg);
  background-size: cover;
  background-position: 50% 15%;
  color: white;
}
.hero header img {
  width: 130px;
  height: auto;
  float: left;
  padding-top: 40px;
  padding-left: 155px;
}
.hero header ul {
  padding: 30px 180px 0 0;
  float: right;
  margin: 0;
}
.hero header ul li {
  font-size: 15px;
  float: left;
  margin: 0;
  padding: 10px 0;
  border: 1px solid transparent;
  list-style: none;
  border-radius: 2px;
}
.hero header ul li:last-child {
  padding: 10px 23px;
  border: 1px solid white;
  margin-left: 30px;
}
.hero header ul li:nth-child(2) {
  margin-left: 25px;
}
.hero h1 {
  font-size: 25px;
  margin: 0;
  padding: 220px 0 15px 0;
  word-spacing: 3px;
}
.hero h2 {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  color: rgba(184, 193, 200, .9);
}
.hero form {
  padding: 30px 0 385px 0;
}
.hero form input[type="search"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .8);
}
.hero form input[type="search"] {
  font-size: 13px;
  padding: 17px 25px;
  border: 0;
  width: 450px;
  border-radius: 2px 0 0 2px;
  background-color: rgba(255, 255, 255, .3);
  color: white;
  outline: none;
  margin-right: -2px;
}
.hero form input[type="button"] {
  margin-left: -2px;
  color: white;
  padding: 17px 25px;
  border: 0;
  width: 120px;
  border-radius: 0 2px 2px 0;
  background-color: rgba(108, 220, 172, 1);
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
}
