doctype html
html(lang="en")
  head
    title.
       ZUMAIO
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
  body
    .container-fluid
      include site-nav.jade
      include site-overview.jade
      include site-about-zuma.jade
      include site-buying-option.jade
      include site-support.jade
      include site-footer.jade

    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>