section.row#about-zuma
  .screenshot
    .col-xs-6
      section.col-xs-12
        .col-xs-3
          img.img-responsive.pull-right(src="http://placehold.it/150x150", alt="")
        .col-xs-9
          h3 Created to Make The Web Better
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fugiat error vel facere, accusamus, iure repellat ullam sapiente, natus et laborum labore quo doloribus ipsam voluptatem atque libero ab sit.
      section.col-xs-12
        .col-xs-3
          img.img-responsive.pull-right(src="http://placehold.it/150x150", alt="")
        .col-xs-9
          h3 Incredibly Powerful Tool
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fugiat error vel facere, accusamus, iure repellat ullam sapiente, natus et laborum labore quo doloribus ipsam voluptatem atque libero ab sit.
      section.col-xs-12
        .col-xs-3
          img.img-responsive.pull-right(src="http://placehold.it/150x150", alt="")
        .col-xs-9
          h3 Experimental Stuff
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fugiat error vel facere, accusamus, iure repellat ullam sapiente, natus et laborum labore quo doloribus ipsam voluptatem atque libero ab sit.
      section.col-xs-12
        .col-xs-3
          img.img-responsive.pull-right(src="http://placehold.it/150x150", alt="")
        .col-xs-9
          h3 Designed to rethink the travel industry
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fugiat error vel facere, accusamus, iure repellat ullam sapiente, natus et laborum labore quo doloribus ipsam voluptatem atque libero ab sit.
    .col-xs-6.editor
      h2
        | &lt;Here is what you get&gt;
      #screenshot-editor
        img(src="http://placehold.it/700x575", alt="")


    .col-xs-10.col-xs-offset-1.recommandation
      .col-xs-12
        .col-xs-1
          a.fa.fa-angle-left.fa-3x.btn-angle
        #carousel.col-xs-10
          .col-xs-12
            .col-xs-6
              img.pull-right(src="http://placehold.it/300x300", alt="")
            .col-xs-6
              h3 Steven Strange
              p: span: a(href="#") @DoctorS
          .col-xs-12.text
            p.text-center
              span: a(href="#") @Pixelbuddha
              |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus quidem deserunt, eum suscipit saepe dolorum sed vero nesciunt. Illo nobis inventore dolorem quis amet, ex cum ullam adipisci officiis!
            p.text-center 2 hours ago
        .col-xs-1
          a.fa.fa-angle-right.fa-3x.btn-angle



    .col-xs-12.social-network
      ul.list-inline.text-center
        li
          div
            a#btn-github(href="#")
              span.fa.fa-github.pull-left
              span.text-center GitHub
            p 7352 Followers
        li
          div
            a#btn-twitter(href="#")
              span.fa.fa-twitter.pull-left
              span.text-center Twitter
            p 1363123 Followers
        li
          div
            a#btn-facebook(href="#")
              span.fa.fa-facebook.pull-left
              span.text-center Facebook
            p 2180922 Followers