section.row#support
  .col-xs-12.newsletter
    h1.col-xs-6 Subscribe To Our Newsletter
    form.form-inline.col-xs-6
      input#textbox(type="email", placeholder="Email...")
      input#submit(type="submit", value="SUBSCRIBE")
  .col-xs-10.col-xs-offset-1.support
    .col-xs-4.support-info
      h1 New in Release 2.8
      h2 Fully Available: Live Preview Support for Multiple Browsers
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellendus unde explicabo quia ab pariatur incidunt itaque, perspiciatis mollitia quam eveniet accusamus non officiis voluptatem aut eligendi fugit doloribus eum?
      h2 Imporved Support for Typing
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti facere ipsam magnam tempora id laboriosam quod nisi qui possimus iste voluptates nesciunt architecto veritatis ut dolorem ducimus, mollitia suscipit.
      h2 Improved Stability
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nam asperiores nihil pariatur, minus modi architecto dolore. Perferendis quibusdam saepe libero nobis hic, fuga excepturi sit iure rerum. Modi, provident.
      a(href="#") Got To Release Log
    .col-xs-4.support-info
      h1 Popular Extensions
      h2 Custome Themes 1.1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, exercitationem!
      h2 Filter Forge
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      h2 WebZap
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eveniet eius quia, alias est iure accusantium soluta commodi voluptatum delectus.
      h2 Renamy
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nesciunt!
      a(href="#") Go To Marketplace
    .col-xs-4.support-info
      h1 New From the Blog
      ol
        li
          h2  Lorem ipsum dolor sit amet, consectetur adipisicing.
          p Februray 18, 2015
        li
          h2  Lorem ipsum dolor sit amet, consectetur adipisicing.
          p Februray 18, 2015
        li
          h2  Lorem ipsum dolor sit amet, consectetur adipisicing.
          p Februray 18, 2015
        li
          h2  Lorem ipsum dolor sit amet, consectetur adipisicing.
          p Februray 18, 2015
        li
          h2  Lorem ipsum dolor sit amet, consectetur adipisicing.
          p Februray 18, 2015
      a(href="#") Go to Blog