nav.row.nav-bar
  .col-xs-3
    .site-log
      h1.sr-only ZUMAIO
      img.center-block(src="http://placehold.it/300x100", alt="ZUMAIO Logo")
  .col-xs-6
    .nav-section
      ul.list-inline.text-center
        li: a(href="#") Overview
        li: a(href="#") Abaout Zuma
        li: a(href="#") Buying Options
        li: a(href="#") Support
  .col-xs-3
    .btn-purchase
      a(href="#") Buy Now