section.row#overview
  col-xs-12
    .landing
      h1.text-center Zuma App
      h2.text-center A real gamechanger in the world of web development
      p.text-center.version-info V. 2.8 For Mac And Windows
      a.btn-download(href="#") Download For Free Now
      p.btn-download-info.text-center Unlimited 30-days Trials Period

    .landing-sub
      h2.text-center Revolutionary Travel Search
      p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ab voluptates illo libero nesciunt dolor in id nemo, officiis ad doloribus sapiente sit aspernatur alias animi similique facere ipsum sint.
      ul.list-inline.text-center
        li: <a class="github-button" href="https://github.com/ntkme/github-buttons" data-icon="octicon-eye" data-style="mega" data-count-href="/ntkme/github-buttons/watchers" data-count-api="/repos/ntkme/github-buttons#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch ntkme/github-buttons on GitHub">Watch</a>
        li: <a class="github-button" href="https://github.com/ntkme/github-buttons" data-icon="octicon-star" data-style="mega" data-count-href="/ntkme/github-buttons/stargazers" data-count-api="/repos/ntkme/github-buttons#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        li: <a class="github-button" href="https://github.com/ntkme/github-buttons/fork" data-icon="octicon-git-branch" data-style="mega" data-count-href="/ntkme/github-buttons/network" data-count-api="/repos/ntkme/github-buttons#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>