section.row#buying-option
  .col-xs-12
    section.clients
      h1.text-center.col-xs-12 People Are Talking About Zuma
      .row
        .col-xs-4.client
          img.text-center.center-block(src="http://placehold.it/300x200", alt="")
          h3.sr-only Compant Name
          p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        .col-xs-4.client
          img.text-center.center-block(src="http://placehold.it/300x200", alt="")
          h3.sr-only Compant Name
          p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        .col-xs-4.client
          img.text-center.center-block(src="http://placehold.it/300x200", alt="")
          h3.sr-only Compant Name
          p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        .col-xs-4.client
          img.text-center.center-block(src="http://placehold.it/300x200", alt="")
          h3.sr-only Compant Name
          p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        .col-xs-4.client
          img.text-center.center-block(src="http://placehold.it/300x200", alt="")
          h3.sr-only Compant Name
          p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        .col-xs-4.client
          img.text-center.center-block(src="http://placehold.it/300x200", alt="")
          h3.sr-only Compant Name
          p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
      .row
        .col-xs-8.col-xs-offset-2.separator

    section.pricing
      h1.text-center.col-xs-12 Subscription Pricing
      .row
        .col-xs-10.col-xs-offset-1
          .col-xs-3
            .option
              div
                h2 Student
                p.price $29
                p.period Per Month
                span
                ul
                  li Personal License
                a(href="#") Purchase
          .col-xs-3
            .option
              div
                h2 Professional
                p.price $59
                p.period Per Month
                span
                ul
                  li Professional License
                  li Email Support
                a(href="#") Purchase
          .col-xs-3
            .option.agency
              div
                h2 Agency
                p.price $99
                p.period Per Month
                span
                ul
                  li 1-12 Team Members
                  li Phone Support
                a(href="#") Purchase
          .col-xs-3
            .option
              div
                h2 Enterprise
                p.price $159
                p.period Per Month
                span
                ul
                  li Unlimited Team Members
                  li 24/7 Phone Support
                a(href="#") Purchase
    p.col-xs-8.col-xs-offset-2.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia accusamus, voluptatum eos! Aperiam nam cumque ex nemo numquam autem asperiores pariatur explicabo obcaecati. Esse, placeat beatae sint, rem possimus voluptatum.


