section.row#buying-option
  .col-xs-12
    section
      h1 People Are Talking About Zuma
      ul.list-inline
        li
          .client
            img(src="http://placehold.it/300x200", alt="")
            h3.sr-only Compant Name
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        li
          .client
            img(src="http://placehold.it/300x200", alt="")
            h3.sr-only Compant Name
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        li
          .client
            img(src="http://placehold.it/300x200", alt="")
            h3.sr-only Compant Name
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        li
          .client
            img(src="http://placehold.it/300x200", alt="")
            h3.sr-only Compant Name
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        li
          .client
            img(src="http://placehold.it/300x200", alt="")
            h3.sr-only Compant Name
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
        li
          .client
            img(src="http://placehold.it/300x200", alt="")
            h3.sr-only Compant Name
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis dolorem sapiente enim, cumque adipisci! Molestias asperiores molestiae eius nostrum fugiat quibusdam sit culpa odio reprehenderit nemo, quia omnis inventore.
    hr
    section
      h1 Subscription Pricing
      ul.list-inline
        li
          div
            h2 Student
            p $29
            p Per Month
            ul
              li Personal License
            a(href="#") Purchase
        li
          div
            h2 Professional
            p $59
            p Per Month
            ul
              li Professional License
              li Email Support
            a(href="#") Purchase
        li
          div
            h2 Agency
            p $99
            p Per Month
            ul
              li 1-12 Team Members
              li Phone Support
            a(href="#") Purchase
        li
          div
            h2 Enterprise
            p $159
            p Per Month
            ul
              li Unlimited Team Members
              li 24/7 Phone Support
            a(href="#") Purchase
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia accusamus, voluptatum eos! Aperiam nam cumque ex nemo numquam autem asperiores pariatur explicabo obcaecati. Esse, placeat beatae sint, rem possimus voluptatum.