.row#footer
  .col-xs-10.col-xs-offset-1
    .col-xs-3.info
      img(src="http://placehold.it/100x50", alt="")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, vel.
    .col-xs-2.col-xs-offset-1.nav
        h3 Navigation
        ul
          li: a(href="#home") Home
          li: a(href="#overview") Overview
          li: a(href="#about") About
          li: a(href="#buying-options") Buying Options
          li: a(href="#support") Support
    .col-xs-3.contact
        p.phone 347 567 78 90
        p Available From 12pm - 18pm
        address
          span.city New York, NY
          br
          span 560 Judah St & 15th Ave, Apt 5
          br
          span San Francisco, CA, 230903
    .col-xs-3.info-more
      h3 Info
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum culpa numquam reprehenderit excepturi rem consequuntur harum reiciendis. In asperiores suscipit at non nihil, sequi ex libero reiciendis iure temporibus atque.
