doctype html
html
  head
    meta(name="viewport" value="width=device-width, initial-scale=1.0")
  body
    include ./section/_header.jade
    include ./section/_aside-profile.jade
    include ./section/_main.jade
    include ./section/_aside-info.jade
