header
  nav
    ul
      li
        p New Tweet
        a
      li
        p Notification
        a 
      li
        p Private Message
        a 
      li
        p Hot Topics
        a 
  i#site-logo
  form(id="", method="", action="")
    input(type="search")
    input(type="button" value="")
  img(src="images/", alt="")
