// Color

// Color - Text
$color-base-text: white;
$color-second-text: #6F6D70;

// Color - General
$color-background: #F4F3F1;

// Color - Controls
$color-button: #64DEA9;
$color-border: #DBDAD8;

// Size

// Size - Controls
$size-control-border-radius: 2px;

// Font
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

$font-base: 1.4rem;
$font-heading-one: 2.5rem;
$font-heading-two: 1.7rem;
$font-heading-three: 2.0rem;

body {
  text-align: center; // Brainless text align reset
  font-size: $font-base;
  overflow-x: hidden;
}

// Mixin

@mixin dash-under-heading {
  &::after {
    content: " ";
    display: block;
    background-color: $color-border;
    width: 4.2rem;
    height: 0.3rem;
    margin: 1rem auto;
  }
}

@mixin section-separator {
  &::after {
    content: " ";
    display: block;
    width: 150%;
    height: 0.1rem;
    position: relative;
    left: -20%;
    margin: 10px 0;
    background-color: $color-border;
  }
}
