$color-background-base: #FDFBF9;
$color-background-main: #F2EDED;
$color-background-logo: #80A7CF;
$color-background-logo-darken: #6E91BA;

$color-component-border: #E6E4E3;

$color-font-profile: #F6FCFD;
$color-font-link: #A6C6DC;
$color-font-title: #A29C9C;
$color-font-base: #989493;
$color-font-bold: #4C4847;
$color-font-subtext: #DFDDD9;
$color-font-icon: $color-font-subtext;
